<!DOCTYPE html>
<html>
  <head>
    <title>Randomise summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .container {
        max-width: 500px;
        padding-top: 100px;
        }

        h2 {color: red;}

        body {
            padding-left: 2%;
            padding-right: 2%;
          }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% block username %}{% endblock %}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% block navbar %}
            {% endblock %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=https://github.com/pnlbwh/fsl_randomise target="_blank">script source</a></li>
                <li>{% block git %}{% endblock %} </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <h1>Psychiatry Neuroimaging Laboratory</h1>
      <br>
      <ul>Currently works the best with ENIGMA template</ul>

      <h2>FSL Randomise summary</h2>
      {% block subtitle %}{% endblock %}
      <br>
      <br>
      {% block matrixsummary %}{% endblock %}
      <br>
    </div>

    <div class="container-fluid">
      {% block contrastsummary %}{% endblock %}
      <br>
    </div>

    <div class="container-fluid">
      {% block outputsummary %}{% endblock %}
      <br>
    </div>

    <div class="container-fluid">
      <br>
      {% block corrpmapsummary %}{% endblock %}
      <br>
    </div>

    <div class="container-fluid">
      <br>
      {% block skeletonsummary %}{% endblock %}
      <br>
    </div>
    <div class="footer">

    {% block footer %}
      FSL randomise output summary by randomise_summary.py.
      If you find an error, please report it to Kevin Cho (kevincho@bwh.harvard.edu)
      If you have modalities detected as 'unknown', please contact Kevin about it.
    {% endblock %}
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->


  </body>
</html>
