{% extends "layout.html" %}

{% block username %}
{{ user }}
{% endblock %}

{% block navbar %}
<li class="active"><a href="#">html created using randomise_summary.py by {{ user }}</a></li>
{% endblock %}

{% block git %}
<a href=https://github.com/pnlbwh/fsl_randomise/commit/{{ githash }} target="_blank">
git hash used: <code>{{ githash }}</code></a>
{% endblock %}

{% block subtitle %}
<h4><ul>Data location : <code>{{ location }}</code></ul></h4>
<h4><ul>Owner of the files :
    {% for creater in owners %}
        <code>{{ creater }}</code>
    {% endfor %}
</ul></h4>
<h4><ul>Corrected p maps were created on :
    {% for datec in datecs %}
        {{ datec }}
    {% endfor %}
</ul></h4>

{% endblock %}

{% block matrixsummary %}
    <h2>Matrix summary</h2>
    <h4><ul>Matrix file : <code>{{ mat_location }}</code></ul></h4>
    <h4><ul>Total number of subjects : <code>{{ total_number_of_subjects }}</code></ul></h4>
    <div class="table-responsive">
    {{ mat_table|safe }}
    </div>
{% endblock %}


{% block contrastsummary %}
    <h2>Contrast summary</h2>
    <h4><ul>Contrast file : <code>{{ con_location }}</code></ul></h4>
    <div class="table-responsive">
    {{ con_table|safe }}
    </div>
{% endblock %}


{% block outputsummary %}
    <h2>Output corrected p-map summary</h2>
    <ul>(FSL randomise p-values are 1-p values)</ul>
    <div class="table-responsive">
    {{ table|safe }}
    </div>
{% endblock %}


{% block corrpmapsummary %}
    {% if outfigures is sameas true %}
        <h2>Significant cluster figures</h2>
        <h4>For bigger figure, please click on the figure</h4>
        <div class="row">
          <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox no-margin">
             {% for corrpMap in corrpMaps %}
                {% if corrpMap.significant %}
                  <figure class="col-md-4">
                    <a class="black-text" href={{ corrpMap.out_image_loc }} data-size="1600x1067">
                      <img alt="picture" src={{ corrpMap.out_image_loc }} class="img-thumbnail">
                      <h3 class="text-center my-3">{{ corrpMap.modality }} {{ corrpMap.contrast_text }}</h3>
                    </a>
                  </figure>
                 {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    {% endif %}

    {% if filled_outfigures is sameas true %}
        <h4>tbss_fill applied image</h4>
        <div class="row">
          <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox no-margin">
             {% for corrpMap in corrpMaps %}
                {% if corrpMap.significant %}
                  <figure class="col-md-4">
                    <a class="black-text" href={{ corrpMap.filled_out_image_loc }} data-size="1600x1067">
                      <img alt="picture" src={{ corrpMap.filled_out_image_loc }} class="img-thumbnail">
                      <h3 class="text-center my-3">{{ corrpMap.modality }} {{ corrpMap.contrast_text }}</h3>
                    </a>
                  </figure>
                 {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    {% endif %}


    {% if outsigfigures is sameas true %}
    <h2>Significant cluster figures - mean in the significant cluster for each group</h2>
    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for corrpMap in corrpMaps %}
            {% if corrpMap.significant %}
              <figure class="col-md-4">
                <a class="black-text" href={{ corrpMap.sig_out_image_loc }} data-size="1600x1067">
                  <img alt="picture" src={{ corrpMap.sig_out_image_loc }} class="img-thumbnail">
                  <h3 class="text-center my-3">{{ corrpMap.modality }} {{ corrpMap.contrast_text }}</h3>
                </a>
              </figure>
             {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if outsigfigures is sameas true %}
    <h2>Significant cluster values - mean in the significant cluster for each group</h2>
    <h4>saved in csv file : {{ values_df_loc }}</h4>
    <br><br>
    <div class="table-responsive">
    {{ values_df|safe }}
    </div>
    {% endif %}
{% endblock %}

<hr>

{% block skeletonsummary %}
    {% if skeleton_figure_check is sameas true %}
    <h2>Skeleton summary Figures</h2>
    <h4>For bigger figure, please click on the figure</h4>
    <h3>Skeleton average</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for modality, skeleton_average_figure in average_figures.items() %}
             <figure class="col-md-4">
               <a class="black-text" href={{ skeleton_average_figure }} data-size="1600x1067">
                 <img alt="picture" src={{ skeleton_average_figure }} class="img-thumbnail">
                 <h3 class="text-center my-3">{{ modality }} skeleton</h3>
               </a>
             </figure>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for modality, skeleton_average_figure in skeleton_average_figures.items() %}
             <figure class="col-md-4">
               <a class="black-text" href={{ skeleton_average_figure }} data-size="1600x1067">
                 <img alt="picture" src={{ skeleton_average_figure }} class="img-thumbnail">
                 <h3 class="text-center my-3">{{ modality }} skeleton</h3>
               </a>
             </figure>
          {% endfor %}
        </div>
      </div>
    </div>

    <h3>Standard deviation in skeletons across subjects</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for modality, skeleton_average_figure in std_figures.items() %}
             <figure class="col-md-4">
               <a class="black-text" href={{ skeleton_average_figure }} data-size="1600x1067">
                 <img alt="picture" src={{ skeleton_average_figure }} class="img-thumbnail">
                 <h3 class="text-center my-3">{{ modality }} skeleton</h3>
               </a>
             </figure>
          {% endfor %}
        </div>
      </div>
    </div>

    <h3>Sum of binarized skeletons across subjects</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for modality, skeleton_average_figure in bin_sum_figures.items() %}
             <figure class="col-md-4">
               <a class="black-text" href={{ skeleton_average_figure }} data-size="1600x1067">
                 <img alt="picture" src={{ skeleton_average_figure }} class="img-thumbnail">
                 <h3 class="text-center my-3">{{ modality }} skeleton</h3>
               </a>
             </figure>
          {% endfor %}
        </div>
      </div>
    </div>

    <h3>Highlighting difference in the binarized skeletons across subjects</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for modality, skeleton_average_figure in bin_sum_diff_figures.items() %}
             <figure class="col-md-4">
               <a class="black-text" href={{ skeleton_average_figure }} data-size="1600x1067">
                 <img alt="picture" src={{ skeleton_average_figure }} class="img-thumbnail">
                 <h3 class="text-center my-3">{{ modality }} skeleton</h3>
               </a>
             </figure>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if skel_vol_figure_check is sameas true %}
    <h3>Volume of the skeleton in all subjects</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for modality, skeleton_average_figure in skel_vol_figures.items() %}
             <figure class="col-md-4">
               <a class="black-text" href={{ skeleton_average_figure }} data-size="1600x1067">
                 <img alt="picture" src={{ skeleton_average_figure }} class="img-thumbnail">
                 <h3 class="text-center my-3">{{ modality }} skeleton</h3>
               </a>
             </figure>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if warped_figure_check is sameas true %}
    <h3>Values in the warpped maps for the zero voxels in the skeleton for all subjects</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox no-margin">
         {% for modality, skeleton_average_figure in warped_map_figures.items() %}
             <figure class="col-md-4">
               <a class="black-text" href={{ skeleton_average_figure }} data-size="1600x1067">
                 <img alt="picture" src={{ skeleton_average_figure }} class="img-thumbnail">
                 <h3 class="text-center my-3">{{ modality }} skeleton</h3>
               </a>
             </figure>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
{{super()}}
{% endblock %}
